{% extends 'index.html' %}
{% block title %}DataBase{% endblock %}
{% block content %}

    <div class="container-fluid" style="margin-top: 1rem;margin-bottom: 5rem;">
        <div class="row">
            <div class="col-md-6" style="margin: 0 auto;">
                <!-- Card -->
                <div class="card" style="margin-bottom: 1rem;">
    
                    <!-- Card image -->
                    <div class="view overlay">
                        <img class="img-fluid"
                            src="/static/img1.png"
                            alt="Card image cap" width="800">
                        <a href="#!">
                            <div class="mask rgba-white-slight"></div>
                        </a>
                    </div>
    
                    <!-- Card content -->
                    <div class="card-body">
    
                        <!-- Title -->
                        <h4 class="card-title" style="text-align: center;margin: 0 auto;">About Our Application</h4>
                        <!-- Text -->
                        <p class="card-text" style="text-align:center"></br>
                        </br>
                        Now-a-days looting personal information from the users through Emails,SMS have been one of the most common cyber attacks.
                         One of the cyber attack “Phishing” is used to steal the user’s personal information by tricking the users through a valid site 
                        for performing fraudulent activities .Phishing frauds might be  used  as Web spoofing in countless domains like online payment sector, 
                        web mail,banking sector and financial institution etc. Web Spoofing attracts most of the users through cashback gifts,online job 
                        advertisements,updating of banking details...etc to come on interaction with phishing website. 
                        In order to guide the user to be aware of such kinds of phishing attacks, the proposed “ML based Malicious URL Detection using Anti Phishing Techniques”
                        system is used to detect and classify the URL as either legitimate or phishing using auto encoder algorithm. The Admin or user can able to  modify the blacklists 
                        by adding suspicious URLs which are generated in future to enable the system to work up to date. 
    
                    </div>
    
                </div>
                <!-- Card -->
            </div>
        </div>
        <div class="row" style="margin-bottom: 1rem;">
            <a href="/" class="btn btn-primary" style="margin: 0 auto;display: block;">Home</a>
        </div>
    </div>

{% endblock %}    